<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pubg.sensitivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/newlog_squar"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/newlog_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity2"></activity>
        <activity android:name=".privacy" />
        <activity android:name=".aboutscreen" />
        <activity android:name=".characterscreen" />
        <activity android:name=".control" />
        <activity android:name=".playerscreen" />
        <activity android:name=".ramscreen" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2715877056545900~9544340348" />
    </application>

</manifest>